{% extends 'base.html' %}

{% block title %}Questions{% endblock %}

{% block header %}Question {{num}}{% endblock %}

{% block content %}

    {% for msg in get_flashed_messages() %}
        <h2><b>{{msg}}</b></h2>
    {% endfor %}

    <p>{{ques}}</p>
    <form method="POST" action="/answer">
        {% for choice in choices %}
        <input type="radio" id="{{choice}}" name="resp" value="{{choice}}">
        <label for="{{choice}}">{{choice}}</label><br>
        {% endfor %}
        <button type="submit">Next</button>
    </form>
    
{% endblock %}